@{
  Layout = "_Layout";
}

@model PierreTreats.Models.Flavor

<h2>Add a treat to @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.Label("Select treat: ")
  @Html.DropDownList("TreatId")
  <br><br>
  <input type="submit" value="Save"/>
}
  <span>@Html.ActionLink("Back to list", "Index")</span>
