@{
  Layout = "_Layout";
}

@using PierreTreats.Models;


  <h1 class="main-title">Pierre's Sweet and Savory Treats</h1>

  @if (User.Identity.IsAuthenticated)
  {
    <h3>Treats for @ViewBag.UserName!</h3>
    @if (Model.Count == 0)
    {
      <h4>No treats have been added yet!</h4>
    } 
      @foreach (Treat treat in Model)
      {
        <li class="recipe-list">@Html.ActionLink(@treat.Name, "Details", "Treats", new { id = @treat.TreatId})</li>
      }
  }
  else
  {
    <p>Please @Html.ActionLink("log in", "LogIn", "Account") to view or manage your account.</p>
  }

